/* COLOR */
/* primary */
$white: #ffffff;
$black: #000000;

$primary-1-01: linear-gradient(256.8deg, #0698f9 13.5%, #f906f9 87.25%);
$primary-1-02: linear-gradient(241.94deg, #3dabf5 14.05%, #f53df5 88.77%);

$primary-2-01: #cde2fe;
$primary-2-02: #6692cc;
$primary-2-03: #1b5198;

/* neutral */
$neutral-1-01: #21204a;
$neutral-1-02: #11315b;
$neutral-1-03: #476285;
$neutral-1-04: #6e84ab;
$neutral-1-05: #bdcadb;
$neutral-1-06: #e9ecf2;
$neutral-1-07: rgba(215, 214, 220, 0.2);
$neutral-1-08: rgba(21, 40, 67, 0.7);
$neutral-1-09: #11315b;

$neutral-2-01: #451254;
$neutral-2-02: #64609f;
$neutral-2-03: #9d9bb9;
$neutral-2-04: #c5c4df;
$neutral-2-05: #fcf6fd;
$neutral-2-06: #fde7fd;
$neutral-2-07: rgba(49, 49, 49, 0.35);

/* background */
$background-1: #451254;
$background-2: #64609f;
$background-3: #9d9bb9;
$background-4: #c5c4df;
$background-5: #fcf6fd;
$background-6: #f0f0f0;
$background-7: rgba(160, 160, 214, 0.1);
$background-primary: #eef3ff;

/* sematic */
$sematic-1: #9d9bb9;
$sematic-2: #c5c4df;
$sematic-3: #fcf6fd;

$btn-large: 12px 16px;
$btn-regular: 10px 16px;
$btn-small: 8px 10px;

$btn-font-large: 1.8rem;
$btn-font-regular: 1.6rem;
$btn-font-small: 1.4rem;

// CARD IN BANNER
$card-size-height: 440px;
$card-size-width: 100%;
$card-footer-position: -40px;

//OVERLAY
$overlay: rgba(0, 0, 0, 0.6);
