@import "./base.scss";
@import "./grid.scss";
@import "./mixin.scss";

#app {
  margin: 0 auto;

  font-size: 1.6rem;
  font-weight: normal;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.ant-input {
  border-color: var(--neutral-1-05);
  background: var(--background-5);
  &:focus {
    border-color: var(--neutral-2-03);
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
    box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
  }
}
